*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    background: radial-gradient(at center, #98aee1, #fff);
    justify-content: center;
    align-items: center;
}


.head{
    position: relative;
    position: absolute;
    text-align: center;
    top: 10%;
    text-transform: uppercase;
}


h3{
    color: rgb(218, 0, 0);
    font-style: oblique;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 200px;
    height: 300px;
    margin:0px 10px 5px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .1s;
    border-radius: 20px;
}

.card:55969+++++9+*9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************-+/*//78787877888988988888888888888888888888888888888888888888888888888888888888888885555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555588888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888.
0000065.........................................................................................................................}%ÿ\]4;eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee7i 77777777777777777777777777777777777777777777777777777777777777u;hover{
    box-shadow: 0 0 20px 10px #98aee1;
    color: rgb(21, 173, 219);
}
/-